spring:
  application:
    name: Test Devsu
  
  datasource:
    url: jdbc:mysql://localhost:3306/devsu_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: devsu_user
    password: devsu_pass
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
